<div class="container my-5"></div>

<h1 id="tableLabel">Product List</h1>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products && products.length > 0 " >
  <thead>
    <tr>
      <th>Id</th>
      <th>Product</th>
      <th>ShortCode</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody> 
    <tr *ngFor="let product of products">
      <td>{{ product.idProdus }}</td>
      <td>{{ product.numeProdus }}</td>
      <td>{{ product.shortCode }}</td>
      <td>{{ product.status }}</td>
    </tr>
  </tbody>
</table>

<p *ngIf="!products || products.length <= 0 "><em>No products available</em></p>

<button class="btn btn-primary">Add new product</button>
